@using Entities.Dtos.UserBasketProduct
@model List<UserBasketProductsForListingDTO>
@{
    ViewData["Title"] = "User Basket";
}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h1>Sepetin</h1>
        </div>
        <div class="col-md-7">
            <a asp-controller="Product" asp-action="Priority" class="btn btn-success">Sepete Yeni Ürün Ekle</a>
        </div>
    </div>
</div>
<div class="container m-5 p-5">
    <div class="row">
        @foreach(var product in Model)
        {
            <div class="card" style="width: 18rem;">
              <img src="~/images/product/macbook.png" class="card-img-top" alt="MacBook">
              <div class="card-body">
                <h5 class="card-title">@(product.Product.Name)</h5>
              </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}